@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'base/normalize';
@import 'base/variables';
@import 'base/globales';
@import 'base/mixins';

.contenedor,
.contenedor2 {
    border-radius: $borde-redondo;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    padding: 0 10%;
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
    border: $borde-negro;
    background: rgba(255, 255, 255, .4);
    color: black;
}

.contenedor2 {
    align-items: center;
}

.titulo {
    font-size: 7rem;
    margin: 0;
}

.subtitulo {
    font-size: 5rem;
    margin: 0;
}

.parrafo {
    font-size: 4rem;
    margin: 0;
}

.etiqueta {
    font-size: 3rem;
}

.listaCotizada {
    font-size: 2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ocultar {
    display: none;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: space-between;
}

.card {
    text-align: center;
    width: 25%;
    font-size: 1.5rem;
}

.listaCotizada {
    width: 75%;
    font-weight: bold;
    border-radius: $borde-redondo;
    text-align: center;
}

.volver,
.cotizar {
    margin-top: 2rem;
}

@include desktop-xl {
    .titulo {
        font-size: 5rem;
    }

    .subtitulo {
        font-size: 4rem;
    }

    .parrafo {
        font-size: 3rem;
    }

    .etiqueta {
        font-size: 2.5rem;
    }

    .listaCotizada {
        font-size: 2rem;
    }

    .card {
        font-size: 1.6rem;
    }
}

@include desktop {
    .titulo {
        font-size: 4.3rem;
    }

    .subtitulo {
        font-size: 3.5rem;
    }

    .parrafo {
        font-size: 2.5rem;
    }

    .etiqueta {
        font-size: 2rem;
    }

    .listaCotizada {
        font-size: 1.6rem;
    }

    .card {
        font-size: 1.4rem;
    }
}

@include tablet {
    .titulo {
        font-size: 3rem;
    }

    .subtitulo {
        font-size: 2.3rem;
    }

    .parrafo {
        font-size: 1.8rem;
    }

    .etiqueta {
        font-size: 1.5rem;
    }

    .listaCotizada {
        font-size: 1.2rem;
    }

    .card {
        font-size: 1.2rem;
    }

    .tarjetas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-body {
        padding: 0;
        text-align: center;
    }

    .card {
        width: 75%;
    }
}

@include moviles {
    .titulo {
        font-size: 2.6rem;
    }

    .subtitulo {
        font-size: 2.2rem;
    }

    .listaCotizada {
        width: 100%;
        font-size: 1rem;
    }

    .etiqueta {
        font-size: 1.2rem;
    }

}